body {
    /* background-color: #006747; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("https://www.dixhillsgolf.com/images/galleries/course/pg07.jpg");
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover; 
}

nav {
    /* border: solid black; */
    height: 10rem;
    display: flex;
    gap: 5rem;
    border-bottom: solid black;
    box-shadow: 0px 0px 15px 10px;
    background-color: #006747;
}

#logo {
    height: 8rem;
}

a {
    text-decoration: none;
    color: aliceblue;
    width: 100%;
    text-align: center;
    padding-top: 3.5%;
    display: flex;
}